<div class="card text-center p-3 m-3">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
    <p class="card-text">
      <span class="bii bi-building-fill-gear me-2"></span>{{ user.designation }}
    </p>

    <p class="card-text">
      <span class="bii bi-mortarboard-fill me-2"></span>{{ user.departament }}
    </p>

    <p class="card-text">
      <span class="bii bi-geo-alt-fill me-2"></span>{{ user.location }}
    </p>
  </div>
  <div class="card-footer text-muted"></div>
</div>
