#btn{
    margin-top:5rem;
}

body {
    background: rgb(120, 120, 120) !important;
}



.main-container {
  display: grid;
  grid-template-columns: 250px auto;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 10rem;

  .left {
    .profile-container {
      margin-bottom: 3rem;
      border-radius: 2rem;
      overflow: hidden;
    }
    .checkbox-container {
      background: white;
      padding: 2rem;
      border-radius: 2rem;


    }
    
  }

  .right {
    padding: 0 3rem;
  }
}
#imageDiv {
  height: 150px;
  width: 150px;
  border: 5px solid white;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}




/* CSS */




.new-post-container{
  height: 100dvh;
  width: 100%;
  background: rgba(0, 0, 0, 0.446);
  display: grid;
  place-content: center;
  display: none;
  
 
}

@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
}

.add-post-main-container {
  
  padding: 2rem;
  /* max-width: 560px; */

  background: white;
  margin: 0 1.5rem;
  border-radius: 2rem;
  /* margin-top: 5rem; */

  .top-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    gap: 1.5rem;

    .img-container {
      width: 60px;
      aspect-ratio: 1;
      border-radius: 2rem;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    input {
      width: 100%;
      border: none;
      background: rgb(237, 237, 237);
      padding: 1rem;
      border-radius: 2rem;

      &:focus {
        outline: none;
      }
      
    }



  }

  .buttons-container {
    display: flex;
    gap: 1rem;
    button {
      background: none;
      border: none;
      padding: 1rem;
      border-radius: 2rem;
      flex: 1;
      border:1px solid rgb(204, 204, 204);
    }
  }
  
}

/*chekbox*/
.checkbox-wrapper-46 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-46 .cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.checkbox-wrapper-46 .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098a9;
  transition: all 0.2s ease;
}
.checkbox-wrapper-46 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506eec;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.checkbox-wrapper-46 .cbx span:last-child {
  padding-left: 8px;
}
.checkbox-wrapper-46 .cbx:hover span:first-child {
  border-color: #506eec;
}

.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
  background: #506eec;
  border-color: #506eec;
  animation: wave-46 0.4s ease;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave-46 {
  50% {
    transform: scale(0.9);
  }
}


